@mixin header-gradient {
  //Linear Gradient
  background: rgb(211,215,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(211,215,255,1) 0%, rgba(211,215,255,1) 0%, rgba(211,215,255,1) 1%, rgba(211,215,255,1) 8%, rgba(29,65,148,1) 100%, rgba(29,65,148,1) 100%, rgba(63,76,107,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,215,255,1)), color-stop(0%,rgba(211,215,255,1)), color-stop(1%,rgba(211,215,255,1)), color-stop(8%,rgba(211,215,255,1)), color-stop(100%,rgba(29,65,148,1)), color-stop(100%,rgba(29,65,148,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(211,215,255,1) 0%,rgba(211,215,255,1) 0%,rgba(211,215,255,1) 1%,rgba(211,215,255,1) 8%,rgba(29,65,148,1) 100%,rgba(29,65,148,1) 100%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(211,215,255,1) 0%,rgba(211,215,255,1) 0%,rgba(211,215,255,1) 1%,rgba(211,215,255,1) 8%,rgba(29,65,148,1) 100%,rgba(29,65,148,1) 100%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(211,215,255,1) 0%,rgba(211,215,255,1) 0%,rgba(211,215,255,1) 1%,rgba(211,215,255,1) 8%,rgba(29,65,148,1) 100%,rgba(29,65,148,1) 100%,rgba(63,76,107,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(211,215,255,1) 0%,rgba(211,215,255,1) 0%,rgba(211,215,255,1) 1%,rgba(211,215,255,1) 8%,rgba(29,65,148,1) 100%,rgba(29,65,148,1) 100%,rgba(63,76,107,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d7ff', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}

.header {
  @include header-gradient;
  padding:20px 2.5% 0px 2.5%;
  width:95%;
  height:139px;
  border-bottom:5px solid #0b2a72;
  .logo {
    background-image:url(image-path("53bank_logo.jpg"));
    background-size:200px 80px;
    display:inline-block;
    height:80px;
    width:200px;
  }
  .globalTopNav {
    width:800px;
    position:absolute;
    top:0px;
    right:0px;
    ul {
      li {
        margin-right:5px;
        color:white;
        list-style:none;
        display:inline-block;
        a {
          color:white;
          text-decoration:none;
        }
      }
    }
  }
  .searchForm {
    position:absolute;
    right:25px;
    top:60px;
    clear:both;
    width:286px;
    .searchSubmit {
      position:relative;
      left:-5px;
      top:-1px;
      height:24px;
    }
  }
  .homeNav {
    clear:both;
    width:760px;
    margin:auto;
    ul {
      li {
        list-style:none;
        color:white;
        background-color:#0b2a72;
        display:inline-block;
        padding:10px 20px;
        margin:0px -5px 0px 0px;
        border:1px solid #496198;
        border-bottom:none;
      }
      li:first-child {
        border-top-left-radius:10px;
      }
      li:last-child {
        border-top-right-radius:10px;
      }
    }
  }
}