<div class="header">
  <a class="logo" href="/home"></a>
  <nav class="globalTopNav">
    <ul>
      <li><a href="/contact">Contact Us</a></li>
      <li> | </li>
      <li><a href="/careers">Careers</a></li>
      <li> | </li>
      <li><a href-"locations">Branch &amp; ATM Locator</a></li>
      <li> | </li>
      <li><a href="/privacy">Privacy &amp; Security</a></li>
      <li> | </li>
      <li><a href="/faqs">FAQs</a></li>
      <li> | </li>
      <li><a href="/siteMap">Site Map</a></li>
      <li> | </li>
      <li><a href="/spanish">Espa&ntilde;ol</a></li>
    </ul>
  </nav>
  <form class="searchForm" id="searchForm">
    <input class="searchBar" type="text" name="searchBar" placeholder="Search">
    <%= image_tag("search.png", class: "searchSubmit", id: "searchSubmit") %>
  </form>
  <nav class="homeNav">
    <ul>
      <li>Personal</li>
      <li>Business Banking</li>
      <li>Commercial</li>
      <li>Private Bank</li>
      <li>About Fifth Third</li>
    </ul>
  </nav>
</div>