<!-- Login Area with login form and links -->
<div class="loginArea">
  <!-- Just a small header to grab attention -->
  <div class="loginHeader">
    <h3>Internet Banking</h3>
  </div>
  <!-- The actual login Form -->
  <form class="loginForm">
    <div id="userNameArea">
      <input type="text" name="userName" class="loginInput" required>
      <label for="userName">User ID</label>
    </div>
      <br>
    <div id="passwordArea">
      <input type="password" name="userPassword" class="loginInput" required>
      <label for="userPassword">Password</label>
    </div>
      <br>
    <div class="btnOuter">
      <input type="submit" name="submit" class="loginSubmit" value="Log In">
    </div>
  </form>
  <!-- Helpful links if anyone has an issue -->
  <div class="links">
    <a href="/help">Help</a>
  </div>
  <!-- Separate link for ecommerce users -->
  <div class="eCommerce">
    <h4>Commercial Banking</h4>
    <a href="/eCommerceLogin">Log In </a>
    <p>to Fifth Third Direct.</p>
  </div>
</div>